*.user
*.o
build-atleto-Desktop_Qt_5_9_1_MinGW_32bit-Debug/debug/atleto.exe
*.stash
*.obj
*.pdb
*.tcx
moc_*.cpp
moc_*.h
ui*.h
qrc_icons.cpp
atleto.exe
atleto.ilk
Makefile
Makefile.Release
Makefile.Debug

python/.ipynb_checkpoints/atleto-checkpoint.ipynb
*.pyc
python/.ipynb_checkpoints/test-checkpoint.ipynb
python/.ipynb_checkpoints/atleto2sheets-checkpoint.ipynb
python/.vscode/settings.json
*.dll
